@font-face {
  font-family: 'Agrandir';
  src: local('Angrandir'), url(./assets/Agrandir.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: Agrandir;
  color: #000732;
}

.App {
  display: flex;
}

.Info {
  background: #A9DCE3;
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 6px #000732;
}

.logo {
  width: 450px;
  margin: 50px 0 50px 0;
}

.Form {
  background: #FFFFFF;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 3rem;
}

.parameter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.shortUrl, h2 {
  resize: none;
  width: 40%;
  margin-left: 20px;
  padding-left: 10px;
  
}

.upper, .lower {
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h6 {
  text-decoration: underline;
}

h6:hover {
  cursor: pointer;
}

li {
  display: block;
  background: url(./assets/bullet.png) no-repeat;
  background-size: 20px;
  background-position: top left;
  padding-left: 44px;
  margin: 25px 0 25px 0;
  font-size: 20px;
}

.input {
  width: 50%;
  height: 30px;
  outline: none;
  padding-left: 10px;
  margin-right: 10px;
  
}

.submit {
  width: 20%;
  height: 30px;
  background: #000732;
  color: #FFFFFF;
  outline: none;
  border: 0px;
  margin-left: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 2px 2px 6px #000732;
}

.submit:hover {
  cursor: pointer;
  background: #A9DCE3;
  color: #000732;
}

.clipboard {
  margin-left: 5px;
}

.copy {
  width: 15px;
  margin-bottom: -4px;
}

.copy:hover {
  cursor: pointer;
}